* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  // list-style: none;
}

body {
  background-color: burlywood;
  font-size: 2rem;
.container{  
  height: 100vh;
  // padding-top: 2.5vh;  
  //для выравнивания по вертикали
  .top {
    width: 50%;
    text-align: justify;
    border: none;
    margin-left: 10rem;
    // vertical-align: middle;
    margin-top: 2.5vh;
    border: 2px solid red;
    padding: 2rem;
    color: orangered;
    background-color: black;
  }
  .bottom{
    width: 50%;
    text-align: justify;
    border: none;
    margin-left: 10rem;
    // vertical-align: middle;
    margin-top: 2.5vh;
    border: 2px solid red;
    padding: 2rem;
    color: orangered;
    background-color: black;
  }
}
}