* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: burlywood;
  font-size: 2rem;
}
body .container {
  height: 100vh;
}
body .container .top {
  width: 50%;
  text-align: justify;
  border: none;
  margin-left: 10rem;
  margin-top: 2.5vh;
  border: 2px solid red;
  padding: 2rem;
  color: orangered;
  background-color: black;
}
body .container .bottom {
  width: 50%;
  text-align: justify;
  border: none;
  margin-left: 10rem;
  margin-top: 2.5vh;
  border: 2px solid red;
  padding: 2rem;
  color: orangered;
  background-color: black;
}