* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background: url("../img/bg.png");
  font-size: 2rem;
}
body .container {
  height: 100vh;
  padding-top: 12.5vh;
}
body .container .centered {
  padding-left: 40%;
  text-align: left;
  border: none;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  margin-top: 12.5vh;
}
body .container .centered::first-letter {
  color: red;
  font-size: 2.5rem;
}
body .container .centered .first__string {
  color: blue;
}